<!-- HOMES -->
<section class="">
  <div class="container">
    <!--<div class="banner text-center">-->
    <!--	<h2 class="text-blue">Homes Near You</h2>-->
    <!--  <h3>Book and rent a vacation home or room</h3>-->
    <!--</div>-->
    <br/>
      
    <div class="row">
      <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
    </div>
  </div>
</section>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '12m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  $('#end_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
